.description {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 10%;

  .description-container-left {
    width: 50%;

    h1 {
      font-size: 4rem;
      color: $color1;
      margin-bottom: 20px;

      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 500px) {
        font-size: 2rem;
      }
    }

    p {
      color: $color1;

      @media screen and (max-width: 900px) {
        font-size: 0.8rem;
      }
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  .description-container-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    gap: 20px;
    justify-content: flex-end;

    .img-top {
      background: url(../../assets/images/description1.jpg) center/cover;
      height: 200px;

      @media screen and (max-width: 700px) {
        height: 100%;
        width: 50%;
      }
    }

    .img-bottom {
      background: url(../../assets/images/description2.jpg) center/cover;
      height: 300px;

      @media screen and (max-width: 700px) {
        height: 100%;
        width: 50%;
      }
    }

    @media screen and (max-width: 700px) {
      width: 100%;
      flex-direction: row;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
