.header {
  //   max-width: 1300px;
  //   margin: 0 auto;
  h1:first-of-type:not(.header-container h1) {
    font-size: 1rem;
    color: $color1;
    display: flex;
    flex-direction: column;

    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background: $color3;
      margin: 20px 0 20px 0;
    }
  }

  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    height: 90%;

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 5%;
    }

    @media screen and (max-width: 400px) {
      gap: 0;
    }

    .header-img {
      background: url(../../assets/images/header.jpg) center/cover;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .header-text {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 4rem;
        margin-bottom: 20px;
        color: $color1;

        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }
    }
  }
}
