@font-face {
  font-family: "open-medium-italic";
  src: url(../fonts/OpenSans-MediumItalic.ttf);
}

@font-face {
  font-family: "open-light";
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "open-semi-bold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "open-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

$fontlogo: open-medium-italic, serif;
$fontp: open-light, sans-serif;
$font1: open-bold, sans-serif;
$font2: open-semi-bold, sans-serif;
$color1: #735e59;
$color2: #eceada;
$color3: black;
$color4: white;

@mixin title {
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $font1;
  @include title;

  &:first-of-type {
    font-family: $fontlogo;
  }
}

h2 {
  font-family: $font2;
  @include title;
}

p {
  font-family: $fontp;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
}

button {
  background: none;
  border-top: 1px solid $color3;
  border-left: 1px solid $color3;
  border-bottom: 2px solid $color3;
  border-right: 2px solid $color3;
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: $fontp;
  @include title;
  color: $color3;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
