@font-face {
  font-family: "open-medium-italic";
  src: url(../fonts/OpenSans-MediumItalic.ttf);
}
@font-face {
  font-family: "open-light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "open-semi-bold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "open-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: open-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h1:first-of-type {
  font-family: open-medium-italic, serif;
}

h2 {
  font-family: open-semi-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-family: open-light, sans-serif;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
}

button {
  background: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: open-light, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section {
  height: 80vh;
  padding: 50px 5% 50px 5%;
}
section:nth-child(even) {
  background: #eceada;
}

.header {
  max-width: 1300px;
  margin: 0 auto;
}
.header h1:first-of-type:not(.header-container h1) {
  font-size: 1rem;
  color: #735e59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header h1:first-of-type:not(.header-container h1):after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  margin: 20px 0 20px 0;
}
.header .header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  height: 90%;
}
@media screen and (max-width: 700px) {
  .header .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
  }
}
@media screen and (max-width: 400px) {
  .header .header-container {
    gap: 0;
  }
}
.header .header-container .header-img {
  background: url(../../assets/images/header.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.header .header-container .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header-container .header-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .header .header-container .header-text h1 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=index.css.map */