@font-face {
  font-family: "open-medium-italic";
  src: url(../fonts/OpenSans-MediumItalic.ttf);
}
@font-face {
  font-family: "open-light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "open-semi-bold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "open-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: open-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h1:first-of-type {
  font-family: open-medium-italic, serif;
}

h2 {
  font-family: open-semi-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-family: open-light, sans-serif;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
}

button {
  background: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: open-light, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section {
  height: 80vh;
  padding: 50px 5% 50px 5%;
}
@media screen and (min-width: 1400px) {
  section {
    padding: 50px 20% 50px 20%;
  }
}
section:nth-child(even) {
  background: #eceada;
}

.header h1:first-of-type:not(.header-container h1) {
  font-size: 1rem;
  color: #735e59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header h1:first-of-type:not(.header-container h1):after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  margin: 20px 0 20px 0;
}
.header .header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  height: 90%;
}
@media screen and (max-width: 700px) {
  .header .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
  }
}
@media screen and (max-width: 400px) {
  .header .header-container {
    gap: 0;
  }
}
.header .header-container .header-img {
  background: url(../../assets/images/header.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.header .header-container .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header-container .header-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #735e59;
}
@media screen and (max-width: 500px) {
  .header .header-container .header-text h1 {
    font-size: 2rem;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}
.description .description-container-left {
  width: 50%;
}
.description .description-container-left h1 {
  font-size: 4rem;
  color: #735e59;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .description .description-container-left h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .description .description-container-left h1 {
    font-size: 2rem;
  }
}
.description .description-container-left p {
  color: #735e59;
}
@media screen and (max-width: 900px) {
  .description .description-container-left p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 700px) {
  .description .description-container-left {
    width: 100%;
  }
}
.description .description-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.description .description-container-right .img-top {
  background: url(../../assets/images/description1.jpg) center/cover;
  height: 200px;
}
@media screen and (max-width: 700px) {
  .description .description-container-right .img-top {
    height: 100%;
    width: 50%;
  }
}
.description .description-container-right .img-bottom {
  background: url(../../assets/images/description2.jpg) center/cover;
  height: 300px;
}
@media screen and (max-width: 700px) {
  .description .description-container-right .img-bottom {
    height: 100%;
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .description .description-container-right {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 700px) {
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team h2 {
  color: #735e59;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team h2:after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  margin: 20px 0 150px 0;
}
@media screen and (max-width: 950px) {
  .team h2:after {
    margin: 20px 0 30px 0;
  }
}
.team .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40%;
}
.team .team-container .team {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.team .team-container .team .img-team {
  height: 150px;
  width: 100%;
}
@media screen and (max-width: 460px) {
  .team .team-container .team .img-team {
    height: 100px;
  }
}
.team .team-container .team:first-of-type .img-team {
  background: url(../../assets/images/liz.jpg) center/cover;
}
.team .team-container .team:nth-of-type(2) .img-team {
  background: url(../../assets/images/douglas.jpg) center/cover;
}
.team .team-container .team:nth-of-type(3) .img-team {
  background: url(../../assets/images/sacha.jpg) center/cover;
}
.team .team-container .team:nth-of-type(4) .img-team {
  background: url(../../assets/images/venice.jpg) center/cover;
}
.team .team-container .team p.name {
  color: #735e59;
  font-weight: 900;
  font-size: 1.2rem;
}
.team .team-container .team p {
  text-align: center;
}
.team .team-container .team p:nth-of-type(2) {
  font-size: 1rem;
}
@media screen and (max-width: 530px) {
  .team .team-container .team {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 460px) {
  .team .team-container .team {
    width: 100px;
    height: 200px;
  }
}
@media screen and (max-width: 950px) {
  .team .team-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services h2 {
  color: #735e59;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services h2:after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  margin: 20px 0 150px 0;
}
.services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}
.services .services-container .service-img {
  width: 100%;
  height: 200px;
}
.services .services-container > *:first-of-type .service-img {
  background: url(../../assets/images/design1.jpg) center/cover;
}
.services .services-container > *:nth-of-type(2) .service-img {
  background: url(../../assets/images/design2.jpg) center/cover;
}
.services .services-container > *:nth-of-type(3) .service-img {
  background: url(../../assets/images/design3.jpg) center/cover;
}
.services .services-container p:first-of-type {
  color: #735e59;
  font-size: 2rem;
}
.services .services-container p:nth-of-type(2) {
  color: #735e59;
  text-align: center;
  margin-top: 10px;
}

.projects h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #735e59;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects h2::after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  margin: 20px 0 150px 0;
}
.projects .projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}
.projects .projects-container .project {
  margin-top: 40px;
}
.projects .projects-container .project-img {
  width: 100%;
  height: 200px;
  background: red;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .projects-container .project-img::after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  bottom: -20px;
}
.projects .projects-container .project,
.projects .projects-container .year,
.projects .projects-container .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}
.projects .projects-container .project p:first-of-type,
.projects .projects-container .year p:first-of-type,
.projects .projects-container .type p:first-of-type {
  color: #735e59;
  font-weight: 900;
}
.projects .projects-container .project p:nth-of-type(2),
.projects .projects-container .year p:nth-of-type(2),
.projects .projects-container .type p:nth-of-type(2) {
  color: #735e59;
  text-align: left;
}/*# sourceMappingURL=index.css.map */